<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
      <%- include('./partials/nav') %>
    <div class="container" style="max-width:400px;margin:3rem auto;">
      <div class="card">
        <h2 style="text-align:center;">Sign Up</h2>
        <form action="/user/signin" method="post">
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="NameHelp" name ="fullName">
            <div id="NameHelp" class="form-text">Enter your name.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name ="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name ="password">
          </div>
          <button type="submit" class="btn">Sign Up</button>
        </form>
      </div>
    </div>
    <%- include('./partials/script') %>
</body>
</html>


